<ngx-loading-bar></ngx-loading-bar>
<div col-md-12>
  
                                <table class="table table-bordered admin-table">
                       		    	<thead>
                                      <tr>
                                        <th>S.No.</th>
                                        <th>image</th>
                                        <th>Name Of The Request</th>
                  
                                      
                                        <th>status</th>
                                        <th>edit</th>
                                        <th>delete</th>
                                   
                                        <th>onHold</th>
                                      </tr>
                        			</thead>
    								
  									<tbody *ngIf="posts.length > 0">
                                  <tr *ngFor ="let post of posts;let i=index;">
                                    <td class="col-md-1"> {{i+1}} </td>
                                    <td class="col-md-1"> <img height="60px" width="60px" src="https://s3.ap-south-1.amazonaws.com/rentophilaimages/thumbnails/{{imageName(post.image1)}}" /></td>
                                    <td class="col-md-4">  {{post.requestName}}</td>
                                   
                                    <td> <span *ngIf="post.requestApproved==1" >Request Approved!</span><span *ngIf="post.requestApproved==2">Request Rejected</span><span *ngIf="post.requestApproved==0">Pending Approval</span></td>
                                    
                                    <td class="col-md-1" >
                                     
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" (click)="changeProductId(post); lgModal2.show(); clearingOldImages();" title="Edit Post"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    
                                    </td>
                                    
                                    <td class="col-md-1">
                                   <button class="btn btn-sm btn-danger" (click)="ClickDelete(post)"><i class="fa fa-trash" aria-hidden="true"></i></button> </td>
                                    <td class="col-md-1">
                                   <button class="btn btn-sm" [class.btn-warning]="post.onHold==0" [class.btn-success]="post.onHold==1" (click)="ClickHold(post)"><i class="fa fa-pause" aria-hidden="true"></i></button> 
                                    </td>
                                  </tr>
    						</tbody>
                            </table>
                              <app-pagination *ngIf="gotPageNumber" [pageNumber]="gotPageNumber" [totalPages]="gotTotalPages" (callPageChange)="changePage($event)"></app-pagination>
                            </div>
                           <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Images Preview</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
                                    <div class="modal-body">
                                      
                                      <div  *ngIf="image1!='noimagefound'">
                                        <h3>Image 1</h3>
                                             <img src="https://s3.ap-south-1.amazonaws.com/rentophilaimages/{{imageName(image1)}}" />
                                      </div>
                                      <div  *ngIf="image3!='noimagefound'">
                                        <h3>Image 2</h3>
                                             <img src="https://s3.ap-south-1.amazonaws.com/rentophilaimages/{{imageName(image3)}}" />
                                      </div>
                                      <div  *ngIf="image2!='noimagefound'">
                                        <h3>Image 3</h3>
                                             <img src="https://s3.ap-south-1.amazonaws.com/rentophilaimages/{{imageName(image2)}}" />
                                      </div>
                                      <div  *ngIf="image4!='noimagefound'">
                                        <h3>Image 4</h3>
                                             <img src="https://s3.ap-south-1.amazonaws.com/rentophilaimages/{{imageName(image4)}}" />
                                      </div>
                                       
                                    </div>
      </div>
    </div>
  </div></div>

  <div bsModal #lgModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Request</h4>
        <button type="button" class="close pull-right" (click)="lgModal2.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <app-edit-request [productId]="prodId" (saveDone)="hideModal()" #child ></app-edit-request>
                                    
      </div>
    </div>
  </div></div>
   <div bsModal #lgModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Reject Request!</h4>
        <button type="button" class="close pull-right" (click)="lgModal3.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h3>Reject Reasons!</h3>
            <form #f="ngForm" (ngSubmit)="rejectProduct(f.value);">
                    <div *ngFor="let reject of reasonsArray; let i=index"> 
    <input ngModel type="checkbox" name='{{i}}' value="reject.name" >
    <label for="coding">{{reject.name}}</label>
  </div>  
  <div class="col-md-12">
                                <label class="control-label">Description </label>
                                <div class="form-group">
                                    <textarea ngModel rows="4" style="width:100%"   placeholder="Reject Description" name="description"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning newbtn " name="submit" >Reject and Send Mail! 
                                            <span class="glyphicon glyphicon-send"></span>
                                        </button>
            </form>
    </div>
  </div></div>
